h1 {
    margin: 7%;
}

.weight-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

/* prevent select and highlight color */

.card {
    user-select: none;
}

.card::selection {
    background: none;
}

.card::-moz-selection {
    background: none;
}

/* ---------------------------------- */

.card {
    height: auto;
    width: 95%;
    max-width: 768px;
    border-radius: 20px;
    background-color: #dedede;
    margin: 10px 0;
}

/* Card Header */

.card--header {
    position: relative;
}

.card--header-total {
    text-align: center;
}

.card--header-icon {
    position: absolute;
    top: 1px;
}

.card--header-icon-reset {
    left: 40px;
    z-index: 2;
}

.card--header-icon-edit {
    right: 40px
}