.plate-selection--controls {
    /* max-height: 175px; */
    height: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* position: relative; */

}

/* Plate Buttons */

.plate-selection--choices {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

/* Increment/Decrement Buttons */

.plate-selection--change {
    /* position: absolute; */
    /* bottom: 0%; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.change-button {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* border: 1px solid black */
}