.plate--button {
    border: none;
    cursor: pointer;
    align-items: center;
    /* height: 100px; */
}

.plate--button:hover {
    width: 35px;
    height: 170px;
    font-size: large;
    opacity: 50%;
}

.plate--button:focus {
    width: 35px;
    height: 170px;
    font-size: large;
}