.plate--button {
    border: none;
    cursor: pointer;
    align-items: center;
    /* height: 100px; */
}

.plate--button:hover {
    width: 35px;
    height: 170px;
    font-size: large;
}

.plate--button-selected {
    width: 35px;
    height: 170px;
    font-size: large;
    box-shadow: -3px -2px grey;
}