.plate--button {
    border: none;
    cursor: pointer;
    align-items: center;
}

.plate--button:hover {
    font-size: large;
    box-shadow: -3px -2px grey;
}

.plate--button-selected {
    width: 35px;
    height: 170px;
    font-size: large;
    box-shadow: -3px -2px grey;
}

.plate--button-unselected {
    /* opacity: 50%; */
}