.weight-controls {
    display: flex;
    justify-content: center;
}

.weight--controls-card {
    /* min-height: 350px; */
    height: auto;
    width: 95%;
    max-width: 768px;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: #dedede;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}