.weight-controls {
    display: flex;
    justify-content: center;
}

.weight--controls-card {
    min-height: 350px;
    height: auto;
    width: 95%;
    max-width: 1024px;
    border-radius: 20px;
    margin: 10px 0;
    background-color: #dedede;
}