.weight-controls {
    display: flex;
    justify-content: center;
}

.weight--controls-card {
    /* min-height: 350px; */
    height: auto;
    width: 95%;
    max-width: 768px;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: #dedede;
}