/* Barbell Displayed */
.barbell--bar {
    height: 23px;
    width: 100%;
    background-color: #c5c5c5;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.barbell--bar-selected {
    color: white;
    background-color: #6d6d6d;
}

/* Barbell Choice Buttons */
.barbell--choice {
    border-radius: 9px;
}

.barbell--choice:hover {
    font-size: large;
    color: white;
    background-color: #6d6d6d;
}

.barbell--bar-text {
    height: 100%;
    text-align: center;
    font-weight: bold;
}

.barbell--bar-text p {
    height: 100%;
}