.barbell--bar {
    height: 20.79px;
    width: 100%;
    background-color: #c5c5c5;
    cursor: pointer;
}

.barbell--choice {
    border-radius: 9px;
    ;
}

.barbell--choice:hover {
    height: 23px;
    font-size: large;
    color: white;
    background-color: #6d6d6d;
}

.barbell--bar-text {
    position: relative;
    transform: translateY(-75%);
    text-align: center;
    font-weight: bold;
}