.card--barbell {
    display: flex;
    justify-content: space-between;
}

/* Barbell Bar */

.barbell--bar-container {
    height: 149px;
    width: 100%;
    display: flex;
    align-items: center;
}

.barbell--bar {
    height: 20.79px;
    /* width: 40.45px; */
    width: 100%;
    background-color: #c5c5c5;
}

.barbell--bar-text {
    position: relative;
    transform: translateY(-75%);
    text-align: center;
    font-weight: bold;
}

/* Barbell Plates */

.barbell--plate-holder {
    width: 123px;
    height: 149px;
    background-color: #c5c5c5;
    border: inset;
    border-radius: 9px;
    display: flex;
    text-align: center;
}

.barbell--plate-holder-left {
    display: flex;
    justify-content: flex-end;
}