.card--barbell {
    display: flex;
    justify-content: space-between;
}

/* Barbell */

.barbell--bar-container {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
}

/* Plates */

.barbell--plate-holder {
    width: 123px;
    height: 149px;
    background-color: #c5c5c5;
    border: inset;
    border-radius: 9px;
    display: flex;
    text-align: center;
}

.barbell--plate-holder-left {
    display: flex;
    justify-content: flex-end;
}