@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Mono:ital@0;1&display=swap');

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: x-small;
    font-family: 'Roboto Mono', monospace;
}

.footer p {
    margin: 0;
}

.footer-item svg {
    color: black;
    font-size: large;
    margin: 0 10px;
}

.footer-react svg {
    color: #61DBFB;
}