@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Mono:ital@0;1&display=swap');

.footer {
    width: 300px;
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    /* align-content: space-between; */
    justify-content: center;
    font-size: small;
    /* font: "Century Gothic", Futura, sans-serif; */
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

.footer-item {
    display: flex;
    align-items: center;
    margin: 5px;
}

svg {
    color: black;
    font-size: large;
    margin: 0 10px;
}

.footer-react svg {
    color: #61DBFB;
}